@page "/claims"
@using ClaimProcessing.Shared.Claims
<AuthorizeView>
    <Authorized>
        <PageTitle>Lista zgłoszeń reklamacyjnych</PageTitle>
        <h1>Lista zgłoszeń reklamacyjnych</h1>

        <a href="/claim/add">Dodaj nowe zgłoszenie</a>

        @if (_claims == null)
        {
            <div>Ładowanie danych...</div>
        }
        else if (!_claims.Claims.Any())
        {
            <div>Brak zgłoszeń do wyświetlenia.</div>
        }
        else
        {
            <table class="Table table-responsive text-center align-middle my-5">
                <thead class="table-light">
                    <tr>
                        <th width="20%">Numer</th>
                        <th width="20%">Data utworzenia</th>
                        <th width="25%">Nazwa dostawcy</th>
                        <th width="20%">Kod artykułu</th>
                        <th width="20%">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in _claims.Claims)
                    {
                        <tr>
                            <td>
                                <a href="/claim/detail/@item.ClaimId" class="fe-bold link-primary link">
                                    @item.ClaimNumber
                                </a>
                            </td>
                            <td>
                                @item.ClaimCreationDate.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @item.SupplierName
                            </td>
                            <td>
                                @item.ItemCode
                            </td>
                            <td>
                                @((ClaimStatus)item.ClaimStatus)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <p>I'm sorry, I can't dispaly this view'</p>
    </NotAuthorized>
</AuthorizeView>


